header{
  height: 5rem;
  width: 100%;
  background-image: url('zebrabackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

h1{
  color: rgb(252,15,192);
  text-transform: uppercase;
  font-family: arial;
  font-weight: 700;
  font-size: 3rem;
}